.naive {
    background-color: transparent;
}
.image {
    padding-left: 2.5vw;
    width: 5vw;
    
}
.navstuff1 {
    padding-left: 52vw ;
    padding-top: 1vw;
    padding-bottom: 2vw; 
    font-size: 1vw;
    font-family: 'Nunito Sans';
    font-weight: 600;
    color: #141414;
}
.navstuff {
    padding-left: 2vw ;
    padding-top: 1vw;
    padding-bottom: 2vw; 
    font-size: 1vw;
    font-family: 'Nunito Sans';
    font-weight: 600;
    color: #141414;
}
.bg-img {
    /* The image used */
    background-image: url("images/aidan-hancock-8RU4OuA6Yug-unsplash.png");
  
    min-height:  900px;
 
 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
  
  }
  
  /* Position the navbar container inside the image */
  .container {
    top: 0;

    margin: 20px;
    margin-top: 0;
    width: auto;
   
  }
  .navlink {
    text-decoration: none; 
    color: #141414;
  }
  .navlink:hover{
    text-decoration: none;
    color: #10C9C3;
  }
 .active {
    text-decoration: none;
    color: #10C9C3;
  }
 .aboutus {
    text-align: center;
    font-family: "Montserrat";
    font-size: 3vw;
    color: #141414;
 }
 .aboutus3 {
  text-align: left;
  font-family: "Nunito Sans";
  font-weight: 500;
  font-size: 3vw;
  color: #141414;
  padding-left: 7vw;
}
 .aboutus1 {
    text-align: center;
    font-family: "Montserrat";
    color: #787878;
 }
 .aboutus2 {
  text-align: left;
  font-family: "Montserrat";
  color: #787878;
  padding-left: 7vw;
  font-size: 1.25vw;
}
 .imag {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .button1 {
  background-color: #10c9c3; 
  color: white; 
  border: 2px solid #10C9C3;
  margin-left: 7vw;
  padding: 1vw 3.5vw 1vw 3.5vw;
  font-family: 'Montserrat';
}

.button1:hover {
  background-color: #10c9c3b9;
  color: white;
}

.pbar {
  text-align: left;
  font-family: "Montserrat";
  color: #787878;
  padding-left: 7vw;
  font-size: 1.25vw;
  padding-top: 2vw;
}
.pbars {
  margin-left: 7vw ;
  background-color: #10C9C3;
}
.icoons {
  margin-left: 4vw;
  padding-top: 2.5vw;
  width: 45%;
}
.iconfoot {
  padding-top:4vw;
  padding-bottom: 5vw;
  background-color: #10C9C3;
}
.iconp {
  color: white;
  margin-left: 0;
  margin-top: 2.5vw;
  font-size: 1vw;
}

.container1 {
  position: relative;
  width: 50%;

}

.image1 {
  display: block;
  width:  213.5%;
  height: auto;
}
.container:hover .image1 {
  opacity: 0.8;
}
.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 213.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: #141414;
  
}

.container1:hover .overlay1 {
  opacity: 0.5;
  
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.servimg {
  padding-left: 45%;
  padding-top: 6vw;
  padding-bottom: 3vw;
  width: 13vw;
  
}
.servp {
  text-align: center;
  color: #141414;
  font-family: "Montserrat";
  font-weight: 500;
}
.servimg1 {
  padding-left: 45%;
  padding-top: 5.8vw;
  padding-bottom: 2vw;
  width: 12.5vw;
  
}
.servp2 {
  text-align: center;
  color: #787878;
  font-family: "Montserrat";
}
.quotsec {
  padding-top: 10vw;
  background-color: #10C9C3;
}
.quote {
  font-family: "Montserrat";
  color: white;
  font-size: 2.5vw;
  text-align: center;
  scale: .8;
}
.name {
  font-family: "Montserrat";
  color: white;
  font-size: 1vw;
  padding-bottom: 7vw;
  text-align: center;
}
.spons {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.contactbut {
  text-decoration: none;
  color: white;
}
.contactbut:hover {
  text-decoration: none;
  color: white;
}
.pirolft {
  color: #ffff;
  font-size: 1.25vw;
  font-family: "Nunito Sans";
  padding-left: 6vw;
}
.footp {
  background-color: #141414;
  color: #a19f9f;
  font-family: "Nunito Sans";
  font-size: 0.8vw;
  
}
.foot{
  padding-top:5vw;
  background-color: #141414;
  color: #a19f9f;
  text-align: left;
  
  padding-bottom: 5vw;
}
